.container{
    display: flex;
    flex-direction: row;
    background-color: rgba(162, 113, 207, 0.691);
    
    height:650px;
margin-right:15px ;
margin-left: 15px;
justify-content: center ;
align-items: center;
}

.fiona{
    
    flex-direction: row;
    display: flex;
    width: 150px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    
}